<% unless current_user %>

	<form method="POST" action="/sign-in">   
		<label for="username">Username</label>   
		<input type="text" name="username">   
		<label for="password">Password</label>   
		<input type="password" name="password">   
		<input type="submit"> 
	</form>
	<a href="/signup">Sign Up</a>

<% else %>

	<button><a href="/log-out">Logout</a></button>
	<br>
	<%= current_user.username %>
	<a href="/users/<%= current_user.id %>">View Profile</a>
<% end %>

<a href="/members">Members List</a>


<% @posts.last(10).reverse.each do |post| %>
	<br>
	<%= post.user.username %><br>
	<%= post.title %><br>
	<%= post.body %><br>
<% end %>

