<h1><%= @user.username %></h1>
	<div id="pinfo">
		<p><%= @user.full_name %></p>
		<p>Birthday: <%= @user.birthday %></p>
		<p>Email: <%= @user.email %></p>
		<% if current_user == @user %>
			<a href="/edit/<%= @user.id %>">Edit Profile</a>
		<% end %>
	</div>
<br><br>

<a href="/">Back</a><br>

<% if current_user == @user %>
	<form method="POST" action="/post"><br>   
		<label for="title">Title</label><br> 
		<input type="text" name="title"><br><br>
		<label for="body">Body</label><br>
		<textarea id="comment-body" name="body"></textarea><br><br>
		<input type="submit"> 
	</form>
<% end %>
<br>


<!-- <div class="user_post"> -->
<% @posts.reverse.each do |post| %>
	<div id="epost">
		<%= post.title %><br>
		<%= post.body %><br>
		<button><a href="/PEdit/<%=post.id%>">Edit</a></button>
		<form action="/PDelete/<%=post.id%>" method="POST"><input type="submit" value="delete"></form>
	</div>
	<br>
<% end %>


<!-- </div> -->